html,body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    width: 310px;
    height: 50px;
    background-color: rgb(229, 192, 226);
    border-radius: 10px;
    margin-bottom: 10px;
}

main{
    display: flex;
}

nav{ 
    width: 100px;
    height: 200px;
    background-color: rgb(202, 176, 226);
    border-radius: 10px;
    margin-right: 10px;
}

article{
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    border-radius: 10px;
    
}

footer{
    width: 310px;
    height: 50px;
    background-color: rgb(202, 141, 141);
    border-radius: 10px;
    margin-top: 10px;
}